/.log
/_externals
/Output
/Projects
Scripts/Tools/admin/ProductKey/__pycache__
Utilities/Projects/*.user
Utilities/src/_gui/wxFileDialog/gen
Utilities/src/callf/gen
Utilities/src/chcp/gen
Utilities/src/clearcache/gen
Utilities/src/envvarcmp/gen
Utilities/src/pipetimes/gen
Utilities/src/printargs/gen
Utilities/src/printf/gen
Utilities/src/retakeowner/gen
Utilities/src/thlibautocfg/gen
Utilities/src/wshbazaar/wshdynacall/gen
Utilities/tests/manual/contools/callf/_out
/_out
