[submodule "tacklelib"]
  path = _externals/tacklelib
  url = https://github.com/andry81/tacklelib
  branch = master
  fetchRecurseSubmodules = false
  update = none

[submodule "svncmd"]
  path = _externals/svncmd
  url = https://github.com/andry81/svncmd
  branch = master
  fetchRecurseSubmodules = false
  update = none

[submodule "gnuwin32"]
  path = _externals/gnuwin32
  url = https://github.com/andry81-3dparty/external-tools--gnuwin32
  branch = 20101227

[submodule "msys"]
  path = _externals/msys
  url = https://github.com/andry81-3dparty/external-tools--msys
  branch = 1.0.17.x

[submodule "7zip"]
  path = _externals/7zip
  url = https://github.com/andry81-3dparty/external-tools--7zip
  branch = 22_01_release

[submodule "hashdeep"]
  path = _externals/hashdeep
  url = https://github.com/andry81-3dparty/external-tools--hashdeep
  branch = 4_4_release

[submodule "sqlite3"]
  path = _externals/sqlite
  url = https://github.com/andry81-3dparty/external-tools--sqlite3
  branch = 3_15_0_release

[submodule "stevemiller-console-toolbox"]
  path = _externals/stevemiller-console-toolbox
  url = https://github.com/andry81-3dparty/external-tools--stevemiller-console-toolbox
  branch = 1_1_release

[submodule "sysinternals"]
  path = _externals/sysinternals
  url = https://github.com/andry81-3dparty/external-tools--sysinternals
  branch = 20230412

[submodule "wkhtmltox"]
  path = _externals/wkhtmltox
  url = https://github.com/andry81-3dparty/external-tools--wkhtmltox
  branch = 0_12_6_release

[submodule "xmlstarlet"]
  path = _externals/xmlstarlet
  url = https://github.com/andry81-3dparty/external-tools--xmlstarlet
  branch = 1_6_1_release
