* text=auto !eol
BuildTools/TargetProject.PreBuildStep.bat -text
BuildTools/msys/bin/autogen.exe -text
BuildTools/msys/bin/msys-1.0.dll -text
BuildTools/msys/bin/msys-crypt-0.dll -text
BuildTools/msys/bin/msys-gmp-10.dll -text
BuildTools/msys/bin/msys-guile-17.dll -text
BuildTools/msys/bin/msys-iconv-2.dll -text
BuildTools/msys/bin/msys-intl-8.dll -text
BuildTools/msys/bin/msys-ltdl-7.dll -text
BuildTools/msys/bin/msys-opts-25.dll -text
BuildTools/msys/bin/msys-regex-1.dll -text
BuildTools/msys/share/autogen/aginfo.tpl -text
BuildTools/msys/share/autogen/aginfo3.tpl -text
BuildTools/msys/share/autogen/agman-lib.tpl -text
BuildTools/msys/share/autogen/agman1.tpl -text
BuildTools/msys/share/autogen/agman3.tpl -text
BuildTools/msys/share/autogen/autoopts.m4 -text
BuildTools/msys/share/autogen/confmacs.tpl -text
BuildTools/msys/share/autogen/conftest.tpl -text
BuildTools/msys/share/autogen/fsm-macro.tpl -text
BuildTools/msys/share/autogen/fsm-trans.tpl -text
BuildTools/msys/share/autogen/fsm.tpl -text
BuildTools/msys/share/autogen/getopt.tpl -text
BuildTools/msys/share/autogen/libopts-33.2.8.tar.gz -text
BuildTools/msys/share/autogen/optcode.tpl -text
BuildTools/msys/share/autogen/opthead.tpl -text
BuildTools/msys/share/autogen/options.tpl -text
BuildTools/msys/share/autogen/optlib.tpl -text
BuildTools/msys/share/autogen/optmain.tpl -text
BuildTools/msys/share/autogen/rc-sample.tpl -text
BuildTools/msys/share/autogen/stdoptions.def -text
BuildTools/msys/share/autogen/usage.tpl -text
BuildTools/msys/share/guile/ice-9/ChangeLog-2008 -text
BuildTools/msys/share/guile/ice-9/Makefile.am -text
BuildTools/msys/share/guile/ice-9/Makefile.in -text
BuildTools/msys/share/guile/ice-9/README -text
BuildTools/msys/share/guile/ice-9/and-let-star.scm -text
BuildTools/msys/share/guile/ice-9/boot-9.scm -text
BuildTools/msys/share/guile/ice-9/buffered-input.scm -text
BuildTools/msys/share/guile/ice-9/calling.scm -text
BuildTools/msys/share/guile/ice-9/channel.scm -text
BuildTools/msys/share/guile/ice-9/common-list.scm -text
BuildTools/msys/share/guile/ice-9/compile-psyntax.scm -text
BuildTools/msys/share/guile/ice-9/debug.scm -text
BuildTools/msys/share/guile/ice-9/debugger.scm -text
BuildTools/msys/share/guile/ice-9/debugger/command-loop.scm -text
BuildTools/msys/share/guile/ice-9/debugger/commands.scm -text
BuildTools/msys/share/guile/ice-9/debugger/state.scm -text
BuildTools/msys/share/guile/ice-9/debugger/trc.scm -text
BuildTools/msys/share/guile/ice-9/debugger/utils.scm -text
BuildTools/msys/share/guile/ice-9/debugging/example-fns.scm -text
BuildTools/msys/share/guile/ice-9/debugging/ice-9-debugger-extensions.scm -text
BuildTools/msys/share/guile/ice-9/debugging/steps.scm -text
BuildTools/msys/share/guile/ice-9/debugging/trace.scm -text
BuildTools/msys/share/guile/ice-9/debugging/traps.scm -text
BuildTools/msys/share/guile/ice-9/debugging/trc.scm -text
BuildTools/msys/share/guile/ice-9/deprecated.scm -text
BuildTools/msys/share/guile/ice-9/documentation.scm -text
BuildTools/msys/share/guile/ice-9/emacs.scm -text
BuildTools/msys/share/guile/ice-9/expect.scm -text
BuildTools/msys/share/guile/ice-9/format.scm -text
BuildTools/msys/share/guile/ice-9/ftw.scm -text
BuildTools/msys/share/guile/ice-9/gap-buffer.scm -text
BuildTools/msys/share/guile/ice-9/gds-client.scm -text
BuildTools/msys/share/guile/ice-9/gds-server.scm -text
BuildTools/msys/share/guile/ice-9/getopt-long.scm -text
BuildTools/msys/share/guile/ice-9/hcons.scm -text
BuildTools/msys/share/guile/ice-9/history.scm -text
BuildTools/msys/share/guile/ice-9/lineio.scm -text
BuildTools/msys/share/guile/ice-9/list.scm -text
BuildTools/msys/share/guile/ice-9/ls.scm -text
BuildTools/msys/share/guile/ice-9/mapping.scm -text
BuildTools/msys/share/guile/ice-9/match.scm -text
BuildTools/msys/share/guile/ice-9/networking.scm -text
BuildTools/msys/share/guile/ice-9/null.scm -text
BuildTools/msys/share/guile/ice-9/occam-channel.scm -text
BuildTools/msys/share/guile/ice-9/optargs.scm -text
BuildTools/msys/share/guile/ice-9/poe.scm -text
BuildTools/msys/share/guile/ice-9/popen.scm -text
BuildTools/msys/share/guile/ice-9/posix.scm -text
BuildTools/msys/share/guile/ice-9/pretty-print.scm -text
BuildTools/msys/share/guile/ice-9/psyntax.pp -text
BuildTools/msys/share/guile/ice-9/psyntax.ss -text
BuildTools/msys/share/guile/ice-9/q.scm -text
BuildTools/msys/share/guile/ice-9/r4rs.scm -text
BuildTools/msys/share/guile/ice-9/r5rs.scm -text
BuildTools/msys/share/guile/ice-9/rdelim.scm -text
BuildTools/msys/share/guile/ice-9/receive.scm -text
BuildTools/msys/share/guile/ice-9/regex.scm -text
BuildTools/msys/share/guile/ice-9/runq.scm -text
BuildTools/msys/share/guile/ice-9/rw.scm -text
BuildTools/msys/share/guile/ice-9/safe-r5rs.scm -text
BuildTools/msys/share/guile/ice-9/safe.scm -text
BuildTools/msys/share/guile/ice-9/serialize.scm -text
BuildTools/msys/share/guile/ice-9/session.scm -text
BuildTools/msys/share/guile/ice-9/slib.scm -text
BuildTools/msys/share/guile/ice-9/stack-catch.scm -text
BuildTools/msys/share/guile/ice-9/streams.scm -text
BuildTools/msys/share/guile/ice-9/string-fun.scm -text
BuildTools/msys/share/guile/ice-9/syncase.scm -text
BuildTools/msys/share/guile/ice-9/test.scm -text
BuildTools/msys/share/guile/ice-9/threads.scm -text
BuildTools/msys/share/guile/ice-9/time.scm -text
BuildTools/msys/share/guile/ice-9/weak-vector.scm -text
Projects/ConsoleTools.sln -text
Redist/msvc2008/VC_x64Runtime.exe -text
Redist/msvc2008/VC_x86Runtime.exe -text
Scripts/Build/reg_cygwin.bat -text
Scripts/Build/reg_msys.bat -text
Scripts/Build/reg_msysdvlpr.bat -text
Scripts/Build/remount_cygwin_reg.bat -text
Scripts/Build/run_cygwin.bat -text
Scripts/Build/run_cygwin_uac.bat -text
Scripts/Build/run_msys.bat -text
Scripts/Build/run_msys_uac.bat -text
Scripts/Build/run_msysdvlpr.bat -text
Scripts/Build/run_msysdvlpr_uac.bat -text
Scripts/Config/cygwin.vars -text
Scripts/Config/env/vars_vista.lst -text
Scripts/Config/env/vars_win2k.lst -text
Scripts/Config/env/vars_win7.lst -text
Scripts/Config/env/vars_win8.lst -text
Scripts/Config/env/vars_winxp.lst -text
Scripts/Config/msys.vars -text
Scripts/Config/msysdvlpr.vars -text
Scripts/Config/tmpl/runas_admin.lnk.dat -text
TestTools/branch_workingset/gen.bat -text
TestTools/branch_workingset/sync.bat -text
TestTools/genstrings.py -text
TestTools/genstrings.tcl -text
Tests/batscripts/init.bat -text
Tests/batscripts/test_all.bat -text
Tests/batscripts/test_cstresc.bat -text
Tests/batscripts/test_envblock_size.bat -text
Tests/batscripts/test_extract_version.bat -text
Tests/batscripts/test_make_url_absolute.bat -text
Tests/batscripts/test_make_url_canonical.bat -text
Tests/batscripts/test_setvarsfromfile.bat -text
Tests/batscripts/test_strchr.bat -text
Tests/batscripts/test_stresc.bat -text
Tests/batscripts/test_strlen.bat -text
Tests/batscripts/test_strlen_speed.bat -text
Tests/batscripts/test_strrep.bat -text
Tests/hashlib/test1.sh -text
Tests/hashlib/test2.sh -text
Tests/hashlib/test3.sh -text
Tests/hashlib/test4.sh -text
Tests/hashlib/testlib.sh -text
Tests/traplib/test1.sh -text
Tests/traplib/test100.sh -text
Tests/traplib/test2.sh -text
Tests/traplib/test254.sh -text
Tests/traplib/test3.sh -text
Tests/traplib/test4.sh -text
Tests/traplib/test5.sh -text
Tests/traplib/testlib.sh -text
Tools/7zip/7-zip.chm -text
Tools/7zip/7z.exe -text
Tools/7zip/7za.dll -text
Tools/7zip/7za.exe -text
Tools/7zip/7zxa.dll -text
Tools/7zip/history.txt -text
Tools/7zip/license.txt -text
Tools/7zip/readme.txt -text
Tools/Setup.hta -text
Tools/ToolAdaptors/autoconf.sh -text
Tools/ToolAdaptors/autogen.sh -text
Tools/ToolAdaptors/automake.sh -text
Tools/ToolAdaptors/bash_entry -text
Tools/ToolAdaptors/cat.sh -text
Tools/ToolAdaptors/cmd.hta -text
Tools/ToolAdaptors/cmd.lnk -text
Tools/ToolAdaptors/cmd.vbs -text
Tools/ToolAdaptors/cmd2.vbs -text
Tools/ToolAdaptors/cmd_admin.lnk -text
Tools/ToolAdaptors/cmd_console.vbs -text
Tools/ToolAdaptors/cmd_minimized.lnk -text
Tools/ToolAdaptors/cmd_noconsole.vbs -text
Tools/ToolAdaptors/cp.sh -text
Tools/ToolAdaptors/dos2unix.sh -text
Tools/ToolAdaptors/make_shortcut.vbs -text
Tools/ToolAdaptors/make_shortcut_cmd.bat -text
Tools/ToolAdaptors/make_shortcut_cmd_c.bat -text
Tools/ToolAdaptors/make_shortcut_cmd_xp.bat -text
Tools/ToolAdaptors/make_sys_shortcut_cmd.bat -text
Tools/ToolAdaptors/make_sys_shortcut_cmd_c.bat -text
Tools/ToolAdaptors/make_xp_shortcut_cmd.bat -text
Tools/ToolAdaptors/make_xp_shortcut_cmd_c.bat -text
Tools/ToolAdaptors/mkdir.sh -text
Tools/ToolAdaptors/outofmem.bat -text
Tools/ToolAdaptors/rm.sh -text
Tools/ToolAdaptors/rmdir.sh -text
Tools/ToolAdaptors/tortoisesvn/TortoiseProc.bat -text
Tools/ToolAdaptors/totalcmd/README_EN.txt -text
Tools/ToolAdaptors/totalcmd/cmd_as_admin.bat -text
Tools/ToolAdaptors/totalcmd/cmd_as_user.bat -text
Tools/ToolAdaptors/totalcmd/cmda.bat -text
Tools/ToolAdaptors/totalcmd/cmda.user.bat -text
Tools/ToolAdaptors/totalcmd/compare_files.bat -text
Tools/ToolAdaptors/totalcmd/compare_sorted_files.bat -text
Tools/ToolAdaptors/totalcmd/externals_edit.bat -text
Tools/ToolAdaptors/totalcmd/images/compare-files.png -text
Tools/ToolAdaptors/totalcmd/images/compare-sorted-files.png -text
Tools/ToolAdaptors/totalcmd/images/compare_files.ico -text
Tools/ToolAdaptors/totalcmd/images/compare_sorted_files.ico -text
Tools/ToolAdaptors/totalcmd/loadvars.bat -text
Tools/ToolAdaptors/totalcmd/notepad_edit_files.bat -text
Tools/ToolAdaptors/totalcmd/profile.vars -text
Tools/ToolAdaptors/update_shortcut.vbs -text
Tools/ToolAdaptors/update_shortcut_cmd.bat -text
Tools/ToolAdaptors/update_sys_shortcut_cmd.bat -text
Tools/abspath.bat -text
Tools/admin/ProductKey/PrintProductKeyFromFile.py -text
Tools/admin/ProductKey/PrintProductKeyFromFile.vbs -text
Tools/admin/ProductKey/PrintProductKeyFromReg.py -text
Tools/admin/ProductKey/PrintProductKeyFromReg.vbs -text
Tools/admin/ProductKey/ProductKey.py -text
Tools/admin/ProductKey/ProductKey.vbs -text
Tools/admin/ProductKey/README_EN.txt -text
Tools/admin/RunDll/ExportImportWindowsCreds.bat -text
Tools/admin/RunDll/SafelyRemoveHotPlugDevice.bat -text
Tools/admin/RunDll/UserControl.bat -text
Tools/admin/cleanup_acl.bat -text
Tools/admin/ip_list.bat -text
Tools/admin/reg_ie_proxy.bat -text
Tools/admin/reset_auth.bat -text
Tools/admin/reset_dns_winsock.bat -text
Tools/admin/reset_winhttp.bat -text
Tools/admin/sfc_scan.bat -text
Tools/appendvar.bat -text
Tools/assert_msvc.bat -text
Tools/baselib.sh -text
Tools/build/add_files_to_archive.bat -text
Tools/build/export_build_vars.bat -text
Tools/build/extract_files_from_archive.bat -text
Tools/build/gen_publish_app_dir.bat -text
Tools/build/parse_cmd_build_params.bat -text
Tools/build/set_project_build_time.bat -text
Tools/build/write_var_to_file.bat -text
Tools/build/xcopy_archive_from_stagein_all_dirs.bat -text
Tools/build/xcopy_archive_to_stage.bat -text
Tools/build/xcopy_archive_to_stageout_all_dirs.bat -text
Tools/build/xcopy_publish_stage_dir.bat -text
Tools/build/xcopy_to_bin.bat -text
Tools/build/xcopy_to_stage.bat -text
Tools/buildlib.sh -text
Tools/buildlibcomponents.sh -text
Tools/buildres.sh -text
Tools/callargs.bat -text
Tools/callshift.bat -text
Tools/canonicalpath.bat -text
Tools/cat2.sh -text
Tools/cecho.exe -text
Tools/cecho_x64.exe -text
Tools/clearcache.exe -text
Tools/copy.bat -text
Tools/countlines.bat -text
Tools/cstresc.bat -text
Tools/cygsetupdiff.sh -text
Tools/cygsetuplib.sh -text
Tools/cygsetupprint.sh -text
Tools/cygver.bat -text
Tools/cygver.sh -text
Tools/cygwin/bin/cygattr-1.dll -text
Tools/cygwin/bin/cyggcc_s-1.dll -text
Tools/cygwin/bin/cygiconv-2.dll -text
Tools/cygwin/bin/cygintl-8.dll -text
Tools/cygwin/bin/cygsigsegv-2.dll -text
Tools/cygwin/bin/cygwin1.dll -text
Tools/cygwin/bin/diff.exe -text
Tools/cygwin/bin/patch.exe -text
Tools/cygwin/etc/fstab -text
Tools/del_file.bat -text
Tools/del_file_pttn.bat -text
Tools/dirpath.bat -text
Tools/dos2unix.bat -text
Tools/dospath.bat -text
Tools/dumpmountdirs.sh -text
Tools/encoding/ansi2any.bat -text
Tools/encoding/any2ansi.bat -text
Tools/encoding/boms/efbbbf.bin -text
Tools/encoding/boms/feff.bin -text svneol=unset#application/octet-stream
Tools/encoding/boms/fffe.bin -text svneol=unset#application/octet-stream
Tools/envvarcmp.exe -text
Tools/errlvl.bat -text
Tools/excludes/7zip_svn_files.lst -text
Tools/excludes/xcopy_msvc_debug_info_files.lst -text
Tools/excludes/xcopy_svn_files.lst -text
Tools/exec_once_or_exit.bat -text
Tools/execbat.sh -text
Tools/execfunc.sh -text
Tools/execwsh.bat -text
Tools/expandvar.bat -text
Tools/expandvarn.bat -text
Tools/expandvarx.bat -text
Tools/expandvarxn.bat -text
Tools/extract_version.bat -text
Tools/fileattr.bat -text
Tools/filelib.sh -text
Tools/filenameext.bat -text
Tools/filesize.bat -text
Tools/funclib.sh -text
Tools/gccmrt.bat -text
Tools/gccmrt.sh -text
Tools/gen_diff_dir_hash_lst.bat -text
Tools/gen_dir_files_list.bat -text
Tools/gen_dir_files_list_from_archive.bat -text
Tools/gen_dir_hash_lst.bat -text
Tools/gen_product_ver.bat -text
Tools/get_base_dir_name.bat -text
Tools/get_date.bat -text
Tools/get_date_as_filename.bat -text
Tools/get_datetime.bat -text
Tools/get_filesize.bat -text
Tools/get_newest_file.bat -text
Tools/get_path_subtract.bat -text
Tools/get_time.bat -text
Tools/get_time_as_filename.bat -text
Tools/gnuwin32/bin/iconv.exe -text
Tools/gnuwin32/bin/libiconv2.dll -text
Tools/gnuwin32/bin/libintl3.dll -text
Tools/gnuwin32/bin/regex2.dll -text
Tools/gnuwin32/bin/sed.exe -text
Tools/has_dir_files.bat -text
Tools/hashdeep/CHANGES.txt -text
Tools/hashdeep/COPYING.txt -text
Tools/hashdeep/FILEFORMAT.txt -text
Tools/hashdeep/HASHDEEP.txt -text
Tools/hashdeep/MD5DEEP.txt -text
Tools/hashdeep/hashdeep.exe -text
Tools/hashdeep/hashdeep64.exe -text
Tools/hashdeep/md5deep.exe -text
Tools/hashdeep/md5deep64.exe -text
Tools/hashdeep/sha1deep.exe -text
Tools/hashdeep/sha1deep64.exe -text
Tools/hashdeep/sha256deep.exe -text
Tools/hashdeep/sha256deep64.exe -text
Tools/hashdeep/tigerdeep.exe -text
Tools/hashdeep/tigerdeep64.exe -text
Tools/hashdeep/whirlpooldeep.exe -text
Tools/hashdeep/whirlpooldeep64.exe -text
Tools/hashlib.sh -text
Tools/if_.bat -text
Tools/iffexist.bat -text
Tools/index_pathstr.bat -text
Tools/isnativecmd.bat -text
Tools/joinvars.bat -text
Tools/locks/lock_dir_impl.bat -text
Tools/locks/lock_mutex.bat -text
Tools/locks/try_lock_mutex.bat -text
Tools/locks/unlock_mutex.bat -text
Tools/locks/wait_mutex.bat -text
Tools/locks/wait_mutexes.bat -text
Tools/mingw/bin/error-mode.exe -text
Tools/mingw/bin/msys-1.0.dll -text
Tools/mingw/bin/msysmnt.exe -text
Tools/mingw/bin/patch.exe -text
Tools/mingw/bin/patch.exe.manifest -text
Tools/mingw/bin/ps.exe -text
Tools/mingw/etc/fstab.sample -text
Tools/mingw/etc/inputrc.default -text
Tools/mingw/etc/profile -text
Tools/mingw/m.ico -text
Tools/mingw/msys.ico -text
Tools/mountdir.sh -text
Tools/msysver.bat -text
Tools/nsis/find_errors_nsis_log.bat -text
Tools/nsis/gen_files_pp_command_from_list.bat -text
Tools/nsis/gen_install_files_section.bat -text
Tools/nsis/gen_install_files_section_from_archive.bat -text
Tools/nsis/gen_nsis_defines.bat -text
Tools/nsis/gen_nsis_search_paths.bat -text
Tools/nsis/gen_uninstall_files_section.bat -text
Tools/nsis/gen_uninstall_files_section_from_archive.bat -text
Tools/patchlib.sh -text
Tools/perllib.sh -text
Tools/pipetimes.exe -text
Tools/pipetimes.pl -text
Tools/print_file_string.bat -text
Tools/print_file_string_from_archive.bat -text
Tools/print_hash_lst.bat -text
Tools/print_merged_logs.sh -text
Tools/print_product_ver.bat -text
Tools/print_product_ver_from_archive.bat -text
Tools/printdospath.bat -text
Tools/printf.exe -text
Tools/printfile.bat -text
Tools/pstools/Eula.txt -text
Tools/pstools/Handle.exe -text
Tools/pstools/close_process_by_handle.bat -text
Tools/query_session_id.bat -text
Tools/regenum.bat -text
Tools/regexplib.sh -text
Tools/regquery.bat -text
Tools/resetenv.bat -text
Tools/runas_admin.bat -text
Tools/sar.pl -text
Tools/sarf.js -text
Tools/scm/index_patch_file.bat -text
Tools/scm/svn/check_svn_up_change.bat -text
Tools/scm/svn/extract_info_param.bat -text
Tools/scm/svn/extract_last_changed_rev.bat -text
Tools/scm/svn/extract_url_root.bat -text
Tools/scm/svn/extract_url_scheme.bat -text
Tools/scm/svn/gen_branch_workingset.bat -text
Tools/scm/svn/gen_branch_workingset_time.bat -text
Tools/scm/svn/gen_diff_svn_workingsets.bat -text
Tools/scm/svn/gen_externals_list.bat -text
Tools/scm/svn/impl/svn_arg_parse-r.bat -text
Tools/scm/svn/impl/svn_get_wc_db_user_ver.bat -text
Tools/scm/svn/jenkins/convert_svn_changeset_xml_to_lst.bat -text
Tools/scm/svn/make_url_absolute.bat -text
Tools/scm/svn/make_url_canonical.bat -text
Tools/scm/svn/print_svn_changesets_diff_lst.bat -text
Tools/scm/svn/svn_changeset.bat -text
Tools/scm/svn/svn_check_out.bat -text
Tools/scm/svn/svn_list.bat -text
Tools/scm/svn/svn_up.bat -text
Tools/scm/svn/sync_branch_workingset.bat -text
Tools/setvarfromstd.bat -text
Tools/setvarsfromfile.bat -text
Tools/sigcheck.exe -text
Tools/splitvars.bat -text
Tools/sqlite/sqldiff.exe -text
Tools/sqlite/sqlite.bat -text
Tools/sqlite/sqlite3.exe -text
Tools/sqlite/sqlite3_analyzer.exe -text
Tools/start32.bat -text
Tools/start64.bat -text
Tools/std/append_list_from_string.bat -text
Tools/std/clear_list.bat -text
Tools/std/iterate_index.bat -text
Tools/strchr.bat -text
Tools/stresc.bat -text
Tools/stringlib.sh -text
Tools/strings.exe -text
Tools/strlen.bat -text
Tools/strlen.bat.old -text
Tools/strlocase.bat -text
Tools/strrep.bat -text
Tools/strstr.bat -text
Tools/strtrim.bat -text
Tools/strupcase.bat -text
Tools/synclib.sh -text
Tools/tee2.sh -text
Tools/testlib.sh -text
Tools/thlibautocfg.exe -text
Tools/timediff.bat -text
Tools/timestamp.bat -text
Tools/touch.bat -text
Tools/traplib.sh -text
Tools/unix2dos.bat -text
Tools/unmountdir.sh -text
Tools/unset.bat -text
Tools/uuidgen.bat -text
Tools/uuidgen.exe -text
Tools/vars/iconv.default_ansi_locale.var -text
Tools/wctoansi.bat -text
Tools/which.bat -text
Tools/winpath.bat -text
Tools/winver.bat -text
Tools/wtee.exe -text
Tools/xcopy/xcopy_convert_excludes.bat -text
Tools/xcopy_dir.bat -text
Tools/xcopy_file.bat -text
Tools/xml/xml.exe -text
Tools/xml/xml_to_xpath_list.bat -text
Tools/xml/xml_to_xpath_list_for_files.bat -text
Tools/xml/xslt/xml_to_xpath_leaf_list.xslt -text
Tools/xml/xslt/xml_to_xpath_leaf_list_no_props.xslt -text
Tools/xml/xslt/xml_to_xpath_node_list.xslt -text
Tools/xml/xslt/xml_to_xpath_node_list_no_props.xslt -text
